extends ../base.pug 

append variables
  - var template = "contact"

block content 
  main.contact
    .contact__wrapper 

      section.contact__heading
        .contact__heading__wrapper 
          h1.contact__heading__text(data-bigTitle)
            span.contact__heading__serif(data-alt="Let's Work") Let's Work
            span.contact__heading__sans(data-alt="Together") Together

      section.contact__body 
        address.contact__credits 
          ul.contact__credits__wrapper 
            li.contact__credit 
              p.contact__credit__task LinkedIn:
              a.contact__credit__link(href="https://www.linkedin.com/in/uxzwal" target="_blank" rel="noopener noreferrer") Ujjwal Kumar

            li.contact__credit 
              p.contact__credit__task Medium:
              a.contact__credit__link(href="https://medium.com/@uxzwal" target="_blank" rel="noopener noreferrer") @uxzwal

            li.contact__credit 
              p.contact__credit__task Dev.to:
              a.contact__credit__link(href="https://dev.to/uxzwal" target="_blank" rel="noopener noreferrer") /uxzwal

            li.contact__credit 
              p.contact__credit__task Tumblr:
              a.contact__credit__link(href="https://www.tumblr.com/blog/uxzwal" target="_blank" rel="noopener noreferrer") /uxzwal

        .contact__details 
          ul.contact__details__wrapper 
            li.contact__detail 
              p.contact__detail__type Twitter
              a.contact__detail__link(href="https://x.com/uxzwalll" target="_blank" rel="noopener noreferrer") @uxzwalll

            li.contact__detail 
              p.contact__detail__type Github
              a.contact__detail__link(href="https://github.com/uxzwal" target="_blank" rel="noopener noreferrer") /uxzwal

            li.contact__detail 
              p.contact__detail__type Instagram
              a.contact__detail__link(href="https://www.instagram.com/uxzwal/" target="_blank" rel="noopener noreferrer") @uxzwal

          form.contact__form#dynamicEmailForm
            .contact__form__group
              input.contact__input#contactName(type="text" placeholder="Your Name" required)
            .contact__form__group
              input.contact__input#contactEmail(type="email" placeholder="Your Email" required)
            .contact__form__group
              textarea.contact__textarea#contactMessage(placeholder="Your Message" required rows="3")
            button.contact__button(type="submit") Send Message

        section.contact__canvas     
          .contact__canvas__wrapper    
            figure.contact__canvas__illustration
